html {
  font-family: "Lato", sans-serif;
  background-color: #f4f9fc;
  color: #0f1b61;
  overflow-x: hidden;
}

body {
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  --font-size-min: 18; 
  --font-size-max: 21;
  --font-view-min: 576;
  --font-view-max: 1280;

  font-size: clamp(calc(var(--font-size-min) * 1px), calc((var(--font-size-min) * 1px) + (var(--font-size-max) - var(--font-size-min)) * ((100vw - (var(--font-view-min) * 1px)) / var(--font-view-max))), calc(var(--font-size-max) * 1px) );
}

h1 {
  font-weight: lighter;
  /* font-size: 4em; */
  margin: 0;
}

h2 {
  font-weight: lighter;
  /* font-size: 2.2em; */
}

h3 {
  font-weight: normal;
  letter-spacing: 0.1em;
  /* font-size: 1.4em; */
  margin: 5vh;
}

h4 {
  font-weight: lighter;
  /* font-size: 1.8em; */
}

p {
  font-weight: normal;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
  color: #0f1b61;
  cursor: pointer;
}

#name-wrapper {
  width: 50%;
  text-align: center;
}

#name {
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 5%;
}

#name-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ascii-art {
  font-size: 1.4em; 
}

#name-img {
  width: 25%;
  height: 50%;
  border: #0f1b61 solid;
  margin-right: 5%;
  margin-left: 5%;
}

#navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 2.5vh;
}

#desktop-nav-container div {
  display: flex;
}
#socials-wrapper {
  justify-content: space-between;
}
.sidebar-icons {
  font-size: 2em;
  padding: 1.5vw;
  color: #0f1b61;
}
.sidebar-icons:hover {
  cursor: pointer;
}
#mobile-nav {
  display: inline-block;
}
#dropdown-btn {
  border: none;
  background-color: transparent;
  text-align: center;
  border-radius: 10%;
  display: none;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: #f4f9fc;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
#mobile-nav:hover .dropdown {
  display: block;
}

#intro-page {
  display: grid;
  flex-direction: column;
  height: 90vh;
  /* align-items: center; */
}

#scroll-wrapper {
  display: flex;
  padding-left: 70vw;
  flex-direction: column;
  /* height: 100vh; */
  position: absolute;
  top: 90vh;
  z-index: -1;
}

.scroll-text {
  letter-spacing: 0.2em;
  position: relative;
  animation: text-blink 1.3s linear infinite;
}
@keyframes text-blink {
  50% {
    opacity: 0;
  }
}
.vertical-line {
  margin: 0;
  width: 0.001vw;
  border: #0f1b61 solid;
  height: 1290vh;
  position: sticky;
  display: block;
  margin-left: 10vw;
}

#page-wrapper {
  padding: 8vw;
  width: 84vw;
  padding-top: 0;
  padding-bottom: 0;
}

.timeline-header-container {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 85% 2% 13%;
}
.year-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.year-dot {
  height: 3vh;
  width: 3vh;
  background-color: #0f1b61;
  border-radius: 50%;
  justify-self: center;
}
.project-container {
  margin-bottom: 3vh;
  margin-top: 3vh;
  align-items: center;
}
.proj-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.proj-text-wrapper h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.project-container img {
  width: 30%;
  height: 30%;
  object-fit: scale-down;
  border-radius: 4%;
  border: #0f1b61 2px dotted;
  display: inline-flex;
  align-items: center;
  margin-right: 5%;
  margin-bottom: 5%;
}
.try-btn {
  width: fit-content;
  border: 2px solid #0f1b61;
  color: #0f1b61;
  text-decoration: none;
  text-align: center;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1em;
}
.try-btn:hover {
  color: #f4f9fc;
  background: #0f1b61;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.title-tag-wrapper {
  display: flex;
  align-items: center;
}
.title-tag-wrapper p {
  margin: 0;
  margin-left: 3%;
}
.separator {
  border: 1px #0f1b61 solid;
  width: 70%;
  left: 5vw;
  position: absolute;
  opacity: 60%;
}
.card-wrapper {
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
}

/* EVENT PAGE */

.category-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.category-img {
  object-fit: scale-down;
  width: 90%;
  /* height: 100%; */
}
.category-img-wrapper {
  display: grid;
  grid-template-columns: 40% 50%;
  column-gap: 5%;
  row-gap: 5%;
  width: 65vw;
  height: max-content;
  background-color: #0f1b61;
  color: #f4f9fc;
  padding: 3%;
}
.full-text {
  grid-template-columns: 100%;
}

.year-text-event {
  position: relative;
  right: -3vw;
}
.event-title {
  text-align: end;
  margin-right: 7.5%;
}
.learn-more-text {
  font-size: 1em;
  text-decoration: underline;
}
.learn-more-wrapper {
  display: inline-flex;
  justify-content: flex-end;
}
.about-me-desc {
  width: 80%;
  padding-right: 5%;
}
.img-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.r {
  font-size: medium;
}

.about-me img {
  width: 30%;
  margin-right: 5%;
}

.img-desc {
  display: flex;
  align-items: center;
  margin: 0;
  /* padding: 2%; */
  text-align: center;
  color: #f4f9fc;
  border-radius: 8px;
}

.contact-btn {
  display: inline-flex;
}