/* App.jsx */
.main {
    overflow-y: scroll;
    width: 100vw;
    height: 91vh;
    padding: 2em;
    padding-top: 0;
}

/* Homescreen.jsx */
.homescreen {
    height: 88vh;
    display: grid;
    grid-template-rows: auto 8% 8% auto;
}
.homescreen p {
    margin: 0;
    margin-top: .7em;
}
.name {
    font-weight: 400;
    font-size: 2em;
    margin: 0;
    height: fit-content;
}
.name .italic {
    font-style: italic;
    position: relative;
    margin-left: .3em;
}
.name .italic::before {
    content: '';
    width: 110%;
    height: 1.3em;
    background-color: var(--accent-colour);
    opacity: .8;
    display: block;
    position: absolute;
    top: 0;
    right: -5%;
    z-index: -1;
}
.word-cloud {
    position: relative;
    /* border: 2px solid black; */
    height: 40vh;
    width: 100%;
    margin-top: 3em;
    max-width: 390px;
}
.word {
    position: absolute;
    margin-bottom: 0;
}
.menu-button {
    font-size: 2.5em;
}
.nav-container {
    padding: 1em;
    display: grid;
    width: 100vw;
    justify-items: flex-end;
    align-items: center;
}  
nav {
    position: fixed;
    top: -1em;
    right: 2em;
    z-index: 100;
    height: 58vh;
    width: 50vw;
    background-color: var(--primary-colour);
    backdrop-filter: none;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;

    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(50% + 3px) 82%, 0 100%, 0 0);
    display: grid;
    padding: 2em 0 8em 0;

    transition: 0.6s ease-out;
}
/* nav::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(204, 231, 254, 1) 0%, rgba(225, 241, 253, 1) 100%);
    width: calc(100% - 3px * 2);
    height: calc(100% - 6px);
    top: 0;
    left: 3px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3px), calc(50% + 3px) 82%, 0 calc(100% - 3px), 0 0);
} */
nav a {
    color: var(--main-colour);
    text-decoration: underline;
    text-underline-offset: .2em;
    font-size: 1.2em;
    text-align: center;
    z-index: 2;
}
.close-btn {
    color: var(--main-colour);
    z-index: 2;
    display: grid;
}
.close-btn .icon {
    font-size: 2.5em;
    align-self: flex-start;
    justify-self: center;
}
.down-icon {
    font-size: 2.8em;
    align-self: flex-end;
    justify-self: center;
    --animate-duration: 1.6s
}
.menu-show {
    transform: translateY(0);
}
.menu-hide {
    transform: translateY(-58vh);
}
.menu-show a, .menu-show .close-btn {
    align-content: center;
}

/* About Me */
.profile-pic {
    width: 55%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    position: relative;
    display: block;
}
.img-wrapper {
    position: relative;
    margin: 3em 0;
}
.img-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    display: block;
    z-index: 1;
    width: 22%;
    height: 1.7em;
    background-color: var(--accent-colour);
    rotate: -40deg;
}
#about-me .description {
    line-height: 2.4em;
}
.education-wrapper {
    display: grid;
    row-gap: 2em;
    margin: 2em 0;
}

/* Card.jsx */
.card-wrapper {
    display: grid;
    grid-template-columns: 25% auto;
    height: 6em;
    border: 1px solid var(--primary-colour);
}
.card-wrapper .year {
    background-color: var(--primary-colour);
    color: var(--main-colour);
    text-align: center;
    font-weight: bold;
}
.card-wrapper .event {
    padding-left: 1.5em;
    line-height: 1.6em;
}
.card-wrapper p {
    font-size: 1.1em;
    margin: 0;
    align-content: center;
}

/* Projects.jsx */
.project-wrapper {
    margin: 3em 0;
    display: grid;
    row-gap: 3em;
}
.book {
    position: relative;
    width: 100%;
    height: 28vh;
    background-color: var(--accent-colour);
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}
.book::before {
    /* book binder */
    content: '';
    display: block;
    width: 5%;
    background-color: var(--primary-colour);
    height: 100%;
}
.book .language {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--main-colour);
    font-size: 1.1em;
    padding: .3em .8em;
    border-top-right-radius: 15px;
    border: 3px dotted var(--primary-colour);
    font-weight: 600;
}
.book img {
    /* width: 60%; */
    max-height: 140px;
    max-width: 230px;
    object-fit: contain;
    margin: 0 auto;
}
.book .back, .book .front {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
}
.book .front {
    display: grid;
    place-content: center;
    padding: 1.5em;
    height: 100%;
    row-gap: 1.5em;
}
.book .back {
    padding: 1em 2.5em;
}
.book .back p {
    line-height: 1.5em;
    width: 80%;
}
.project-name {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}
.book .link {
    text-decoration: underline;
    font-weight: 600;
}
.book-hide {
    visibility: hidden;
}
.book-show {
    visibility: visible;
}
.book .arrow-icon {
    font-size: 2.5em;
    position: absolute;
    right: 5%;
    bottom: 40%;
}

/* achievement.jsx */
.achievement-header {
    font-size: 1.5em;
    font-weight: 400;
    margin: auto 0;
    width: 15%;
    max-height: 90%;
}
.scroll-sticky {
    position: sticky;
    top: 0;
}
.divider {
    border: 1.5px solid var(--primary-colour);
    margin: 12% 1.5em;
}
.section-wrapper {
    display: grid;
    row-gap: 1em;
}
.section {
    display: flex;
}
.section p {
    line-height: 2em;
}
.section ul {
    padding: 0 0 0 2em;
}
.achievement-item a {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.filter-wrapper {
    display: flex;
    margin: 2em 0 1em 0;
}
.filter-scroll {
    overflow: scroll;
    display: flex;
}
.filter-button {
    display: flex;
    align-items: center;
    padding: .8em;
    margin: 0 .5em;
    border-radius: 5px;
    background-color: var(--accent-colour);
}
.selected {
    background-color: var(--main-colour);
    border: 1.5px solid var(--primary-colour);
}
.filter-button p {
    margin: 0 0 0 .5em
}
.filter-label {
    margin: auto 1em auto 0;
}