/* Homescreen.jsx */
.homescreen {
    height: 80vh;
    display: grid;
    grid-template-rows: auto 8% 8% auto;
}
.homescreen p {
    margin: 0;
    margin-top: .7em;
}
.name {
    font-weight: 400;
    font-size: 2em;
    margin: 0;
    height: fit-content;
}
.name .italic {
    font-style: italic;
    position: relative;
    margin-left: .3em;
}
.name .italic::before {
    content: '';
    width: 110%;
    height: 1.3em;
    background-color: var(--accent-colour);
    opacity: .8;
    display: block;
    position: absolute;
    top: 0;
    right: -5%;
    z-index: -1;
}
.word-cloud {
    position: relative;
    /* border: 2px solid black; */
    height: 40vh;
    width: 100%;
    margin-top: 3em;
    max-width: 390px;
}
.word {
    position: absolute;
    margin-bottom: 0;
}
.menu-button {
    font-size: 2.5em;
    background: none;
    border: none;
    outline: none;
    color: var(--primary-colour);
    justify-self: flex-end;
}
nav {
    display: grid;
    position: relative;
}
.nav-container {
    position: absolute;
    right: 0;
    z-index: 2;
    top: -2em;
    height: 58vh;
    width: 50%;
    background: var(--primary-colour);
    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(50% + 3px) 82%, 0 100%, 0 0);
    display: grid;
    padding: 2em 0 6em 0;
    
    transition: 0.6s ease-out;
}
/* .nav-container::before {
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgba(204, 231, 254, 1) 0%, rgba(225, 241, 253, 1) 100%);
    width: calc(100% - 3px * 2);
    height: calc(100% - 6px);
    top: 0;
    left: 3px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 3px), calc(50% + 3px) 82%, 0 calc(100% - 3px), 0 0);
} */
.nav-container a {
    color: var(--main-colour);
    text-decoration: underline;
    text-underline-offset: .2em;
    font-size: 1.2em;
    text-align: center;
    z-index: 2;
}
.close-btn {
    color: var(--main-colour);
    z-index: 2;
    display: grid;
}
.close-btn .icon {
    font-size: 2.5em;
    align-self: flex-start;
    justify-self: center;
}
.down-icon {
    font-size: 2.8em;
    align-self: flex-end;
    justify-self: center;
    --animate-duration: 1.6s
}
.menu-show {
    transform: translateY(0);
}
.menu-hide {
    transform: translateY(-58vh);
}