/* App.jsx */
.main {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    padding: 2em;
    padding-top: 0;
    /* min-width: 520px; */
}

/* Homescreen.jsx */
.homescreen {
    height: calc(100vh - 2em);
    display: grid;
    place-content: center;
    /* grid-template-rows: auto 8% 8% auto; */
}
.homescreen p {
    margin: 0;
    margin-top: .7em;
    font-size: 1.15em;
}
.name {
    font-weight: 400;
    font-size: 1.6em;
}
.name .italic {
    font-style: italic;
    position: relative;
    margin-left: .3em;
    font-size: 1.25em;
    display: inline-block;
    margin-top: .3em;
}
@keyframes slideIn {
    0% {
        width: 15%;
    }
}
.name .italic::before {
    content: '';
    width: 110%;
    height: 1.4em;
    background-color: var(--accent-colour);
    opacity: .8;
    display: block;
    position: absolute;
    top: -.1em;
    left: -5%;
    z-index: -1;
    animation: slideIn .8s linear;
}

.word-cloud {
    position: relative;
    margin: 0 auto;
    /* border: 2px solid black; */
    height: 28vh;
    width: 90%;
    font-size: 6.4px;
}
.word {
    position: absolute;
    margin-bottom: 0;
}
.menu-button {
    font-size: 2em;
}
.nav-container {
    padding-top: .8em;
    display: grid;
    justify-items: flex-end;
    align-items: center;
}  
nav {
    position: fixed;
    top: 0;
    right: 2em;
    z-index: 100;
    height: 58vh;
    /* min-height: 500px; */
    width: 40vw;
    background-color: var(--primary-colour);

    clip-path: polygon(0 0, 100% 0, 100% 100%, calc(50% + 3px) 82%, 0 100%, 0 0);
    transition: 0.6s ease-out;
}
.nav-link-wrapper {
    display: grid;
    /* gap: auto; */
    margin-top: 1em;
    height: 70%;
}
nav a {
    color: var(--main-colour);
    text-decoration: underline;
    text-underline-offset: .2em;
    font-size: 1.2em;
    text-align: center;
    z-index: 2;
}
nav a:hover::before, .active::before {
    content: '> ';
}
.close-btn {
    color: var(--main-colour);
    z-index: 2;
    cursor: pointer;
}
.close-btn .icon {
    font-size: 2.5em;
}
.down-icon {
    font-size: 2.5em;
    --animate-duration: 1.6s;
    margin: 0 auto;
    margin-top: 1.5em;
    display: block;
}
.menu-show {
    transform: translateY(0);
}
.menu-hide {
    transform: translateY(-58vh);
}

/* About Me */
.profile-pic {
    width: 55%;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    position: relative;
    display: block;
}
.img-wrapper {
    position: relative;
    margin: 3em 0;
}
.img-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1em;
    display: block;
    z-index: 1;
    width: 22%;
    height: 1.7em;
    background-color: var(--accent-colour);
    rotate: -40deg;
}
#about-me .description {
    line-height: 2.4em;
}
.card-container {
    display: grid;
    row-gap: 2em;
    margin: 2em 0;
}
.contact-nav {
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

/* Card.jsx */
.card-wrapper {
    display: grid;
    grid-template-columns: 25% auto;
    border: 1px solid var(--primary-colour);
}
.event.single {
    padding: 1.5em;
    line-height: 2em;
}
.card-wrapper .year {
    background-color: var(--primary-colour);
    color: var(--main-colour);
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0;
    align-content: center;
}
/* Projects.jsx */
.project-wrapper {
    margin: 3em 0;
    display: grid;
    row-gap: 3em;
}
.book {
    position: relative;
    width: 100%;
    /* height: 28vh; */
    height: 40vh;
    background-color: var(--accent-colour);
    border-radius: 0 15px 15px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}
.book::before {
    /* book binder */
    content: '';
    display: block;
    width: 5%;
    background-color: var(--primary-colour);
    height: 100%;
}
.book .language {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--main-colour);
    font-size: 1.1em;
    padding: .3em .8em;
    border-top-right-radius: 15px;
    border: 3px dotted var(--primary-colour);
    font-weight: 600;
}
.book img {
    /* width: 60%; */
    max-height: 140px;
    max-width: 230px;
    object-fit: contain;
    margin: 0 auto;
}
.book .back, .book .front {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;
}
.book .front {
    display: grid;
    place-content: center;
    padding: 1.5em;
    height: 100%;
    row-gap: 1.5em;
}
.book .back {
    padding: 1em 2.5em;
}
.book .back p {
    line-height: 1.5em;
    width: 80%;
}
.project-name {
    font-size: 1.5em;
    margin: 0;
    text-align: center;
}
.book .link {
    text-decoration: underline;
    font-weight: 600;
}
.book-hide {
    visibility: hidden;
}
.book-show {
    visibility: visible;
}
.book .arrow-icon {
    font-size: 2.5em;
    position: absolute;
    right: 5%;
    bottom: 40%;
    cursor: pointer;
}

/* achievement.jsx */
.achievement-header {
    font-size: 1.5em;
    font-weight: 400;
    margin: auto 0;
    min-width: 10%;
    max-height: 90%;
}
.scroll-sticky {
    position: sticky;
    top: 0;
}
.divider {
    border: 1.5px solid var(--primary-colour);
    margin: 1.5em 1.5em;
    margin-left: 3em;
}
.section-wrapper {
    display: grid;
    row-gap: 1em;
}
.section {
    display: flex;
}
.section p {
    line-height: 2em;
}
.section ul {
    padding: 0 0 0 2em;
}
.achievement-item a {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.filter-wrapper {
    display: flex;
    margin: 2em 0 1em 0;
}
.filter-scroll {
    overflow: scroll;
    display: flex;
}
.filter-button {
    display: flex;
    align-items: center;
    padding: .8em;
    margin: 0 .5em;
    border-radius: 5px;
    background-color: var(--accent-colour);
    cursor: pointer;
}
.selected {
    background-color: var(--main-colour);
    border: 1.5px solid var(--primary-colour);
}
.filter-button p {
    margin: 0 0 0 .5em
}
.filter-label {
    margin: auto 1em auto 0;
}
.up-button {
    position: absolute;
    bottom: 3.5em;
    right: 0;
    font-size: 1.5em;
    background-color: var(--primary-colour);
    color: var(--main-colour);
    /* width: 1.4em;
    height: 1.4em; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: .2em;
    display: grid;
    place-content: center;
}
.animate__animated.animate__slideInRight {
    --animate-duration: .5s;
}

/* Involvement.jsx */
.multiline {
    line-height: 2em;
    padding: .8em;
}
.multiline .name {
    font-size: 1em;
}

/* Contact Me */
#contact-me {
    height: 90vh;
}
label, input {
    display: block;
}
label {
    margin: 2em 0;
    font-size: 1.1em;
}
input[type="text"] {
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-colour);
    background: none;
    font-size: 1em;
    margin-top: .8em;
    padding-bottom: 0.3em;
    color: var(--primary-colour);
}
#email, #message {
    width: 100%;
}
#submit-btn {
    padding: 0.8em 2.5em;
    background-color: var(--primary-colour);
    color: var(--main-colour);
    border: none;
    border-radius: 10px;
    font-family: "Instrument Sans", serif;
    display: unset;
    font-size: 1.1em;
}
.bottom-wrapper {
    display: flex;
    /* margin-top: 1em; */
    justify-content: space-between;
}
.socials-wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 1.5em;
}
.social-icon {
    font-size: 2.5em;
}
.email-text {
    margin-top: 3em;
}

/* Media Queries */
/* Phone */
@media only screen and (min-width: 700px) {
    .book {
        height: 35vh;
    }
    nav {
        width: 30vw;
        height: 80%;
    }
    .menu-hide {
        /* 80vh is the height of the nav */
        transform: translateY(-80vh);
    }
}
/* Tablet */
@media only screen and (min-width: 650px) {
    .about-me-wrapper {
        display: flex;
    }
    .img-wrapper {
        flex: 55%;
        margin-right: 2em;
    }
    .img-wrapper .profile-pic {
        width: 100%;
    }

    .book .back {
        padding: 1em 4em;
    }
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2em;
    }
    .book {
        height: 50vh;
    }
    .book img {
        max-width: 200px;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    .main {
        padding: 2em 5em;
        padding-right: calc(10em + 20vw);
    } 
    .menu-button {
        visibility: hidden;
    }
    .nav-container {
        height: 0;
        padding: 0;
    }
    nav {
        height: 85%;
        margin-right: 2em;
        transition: none;
        width: 15em;
        gap: auto;
        /* max-height: 600px; */
    }
    .nav-link-wrapper {
        margin-top: 2em;
    }
    .close-btn {
        display: none;
    }
    nav a {
        margin: auto 2em;
    }
    .menu-hide {
        transform: none;
    }
    .project-wrapper {
        grid-template-columns: unset; 
    }
    .book {
        height: 35vh;
    } 
    .book img {
        max-width: 350px;
    }
    .up-button {
        bottom: 2.5em;
    }
    .filter-scroll {
        overflow: unset;
    }
}
@media only screen and (min-width: 1400px) {
    :root {
        font-size: 18px;
    }
    .main {
        padding: 2em 7em;
        padding-right: calc(10em + 20vw);
    }
    nav {
        max-height: 700px;
    }
    .card-container {
        display: grid;
        grid-template-columns: repeat(2, calc((100% - 2em)/2));
        column-gap: 2em;
    }
    .project-wrapper {
        grid-template-columns: repeat(2, auto);;
    }
    .event.single {
        margin: auto 0;
    }
    .img-wrapper {
        margin-right: 4em;
    }
    .description {
        text-align: justify;
    }
    .span-two {
        grid-column: span 2;
    }
    .book::before {
        width: 1.5em;
    }
}

/* media queries for word-cloud */
@media screen and (min-width: 500px) {
    .word-cloud {
        width: 70%;
        height: 35vh;
        font-size: 6.4px;
    }
}
@media screen and (min-width: 600px) {
    .word-cloud {
        width: 60%;
    }
}
@media screen and (min-width: 800px) {
    .word-cloud {
        width: 70%;
        font-size: 12px;
        height: 40vh;
    }
}
@media screen and (min-width: 1100px) {
    .word-cloud {
        font-size: 14px;
        height: 43vh;
        width: 80%;
    }
}
@media screen and (min-width: 1400px) {
    .word-cloud {
        width: 85%;
        font-size: 14px;
        height: 45vh;
    }
}
@media screen and (min-width: 1600px) {
    .word-cloud {
        font-size: 20px;
    }
}