/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Instrument Sans", serif;

  --primary-colour: #15278E;
  --main-colour: #EEF9FF;
  --accent-colour: #B2DAFC;

  /* background-color: var(--main-colour); */
  color: var(--primary-colour);
}

a {
  text-decoration: none;
  color: var(--primary-colour);
}

body {
  margin: 0;
  display: flex;
  padding: 2em;
  height: 100vh;
  background: linear-gradient(180deg, rgba(204, 231, 254, 1) 0%, rgba(244, 249, 252, 1) 100%);
  min-width: 400px;
}

button {
  border: none;
  background: none;
  outline: none;
  color: var(--primary-colour);
}